src/ActivityLoggingblog-Webhook/Microsoft.Flow/flows/8c555088-464d-4a99-90f3-7937b348c5ba/definition.json
{"name":"52dc3a74-4b0d-4be0-997a-fe541a27b389","id":"/providers/Microsoft.Flow/flows/52dc3a74-4b0d-4be0-997a-fe541a27b389","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Activity Logging blog - Webhook","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"037d2906-fe4d-4a3c-b180-481ea68aa56d","type":"User","tenantId":"2da74040-53ba-4f78-bfec-24b9437fbfe7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-06-13T14:11:19.2220506Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"array","items":{"type":"object","properties":{"clientId":{"type":"string"},"contentCreated":{"type":"string"},"contentExpiration":{"type":"string"},"contentId":{"type":"string"},"contentType":{"type":"string"},"contentUri":{"type":"string"},"tenantId":{"type":"string"}},"required":["clientId","contentCreated","contentExpiration","contentId","contentType","contentUri","tenantId"]}}}}},"actions":{"Response":{"runAfter":{"Secret":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200}},"TenantId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TenantId","type":"String","value":"Enter your tenant Id"}]}},"ClientId":{"runAfter":{"TenantId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ClientId","type":"String","value":"Enter the secret key of the registered app "}]}},"Secret":{"runAfter":{"ClientId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Secret","type":"String","value":"cyZ8IyKfrObhg7kl3RBrH7A+xU3U3BBX+yK33zCYpyY="}]}},"For_each_content_URI_in_the_notification":{"foreach":"@triggerBody()","actions":{"HTTP_call_to_content_URI":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@items('For_each_content_URI_in_the_notification')['contentUri']","headers":{"Content-Type":"application/json"},"authentication":{"type":"ActiveDirectoryOAuth","tenant":"@variables('TenantId')","audience":"https://manage.office.com","clientId":"@variables('ClientId')","secret":"@variables('Secret')"}}},"Parse_JSON":{"runAfter":{"HTTP_call_to_content_URI":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_call_to_Content_URI')","schema":{"type":"array","items":{"type":"object","properties":{"Id":{"type":"string"},"RecordType":{"type":"integer"},"CreationTime":{"type":"string"},"Operation":{"type":"string"},"OrganizationId":{"type":"string"},"UserType":{"type":"integer"},"UserKey":{"type":"string"},"Workload":{"type":"string"},"UserId":{"type":"string"},"ClientIP":{"type":"string"},"UserAgent":{"type":"string"},"Activity":{"type":"string"},"ItemName":{"type":"string"},"WorkSpaceName":{"type":"string"},"DashboardName":{"type":"string"},"WorkspaceId":{"type":"string"},"ObjectId":{"type":"string"},"DashboardId":{"type":"string"},"Datasets":{"type":"array","items":{"type":"object","properties":{"DatasetId":{"type":"string"},"DatasetName":{"type":"string"}},"required":["DatasetId","DatasetName"]}},"IsSuccess":{"type":"boolean"},"DataflowRefreshScheduleType":{"type":"string"},"DataflowType":{"type":"string"},"Version":{"type":"integer"}},"required":["Id","RecordType","CreationTime","Operation","OrganizationId","UserType","UserKey","Workload","UserId","ObjectId"]}}}},"For_each_audit_record":{"foreach":"@body('Filter_Dynamics_Records')","actions":{"Create_Cosmos_DB_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateDocument"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_documentdb_1']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-westus2-01.azure-apim.net/apim/documentdb"}},"method":"post","body":"@replace(string(items('For_each_audit_record')),'Id','id')","headers":{"x-ms-documentdb-raw-partitionkey":"\"@{items('For_each_audit_record')['UserId']}\""},"path":"/dbs/@{encodeURIComponent('Audit')}/colls/@{encodeURIComponent('Audits')}/docs","authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_Dynamics_Records":["Succeeded"]},"type":"Foreach"},"Filter_Dynamics_Records":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_JSON')","where":"@equals(item()['RecordType'], 21)"}}},"runAfter":{"Response":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_documentdb_1":{"connectionName":"shared-documentdb-297dbcf0-3516-4b16-837a-76b7560dc005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_documentdb","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}