src/ActivityLoggingblog-Subscribe/Microsoft.Flow/flows/f5a997d2-0a45-4768-a3cf-55ac8bc5107e/definition.json
{"name":"a7118500-4b05-4c88-a883-57afb8d044fa","id":"/providers/Microsoft.Flow/flows/a7118500-4b05-4c88-a883-57afb8d044fa","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Activity Logging blog - Subscribe","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"037d2906-fe4d-4a3c-b180-481ea68aa56d","type":"User","tenantId":"2da74040-53ba-4f78-bfec-24b9437fbfe7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-06-12T07:15:00.3468765Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","required":[],"properties":{}},"headersSchema":{"x-ms-user-name-encoded":{"type":"string","title":"User name","format":"byte"},"x-ms-user-email-encoded":{"type":"string","title":"User email","format":"byte"},"x-ms-user-timestamp":{"type":"string","title":"Timestamp"}}}}},"actions":{"O365_management_API_call":{"runAfter":{"WebhookAddress":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://manage.office.com/api/v1.0/@{variables('TenantId')}/activity/feed/subscriptions/start?contentType=Audit.General&PublisherIdentifier=@{variables('TenantId')}","headers":{"Cache-Control":"no-cache","content-type":"application/json"},"body":{"webhook":{"address":"@{variables('WebhookAddress')}","authId":"","expiration":""}},"authentication":{"type":"ActiveDirectoryOAuth","tenant":"@variables('TenantId')","audience":"https://manage.office.com","clientId":"@variables('ClientId')","secret":"@variables('Secret')"}}},"TenantId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TenantId","type":"String","value":"Enter your tenant Id"}]}},"ClientId":{"runAfter":{"TenantId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ClientId","type":"String","value":"Enter the client id (application id) of the registered app "}]}},"Secret":{"runAfter":{"ClientId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Secret","type":"String","value":"Enter the secret key of the registered app "}]}},"WebhookAddress":{"runAfter":{"Secret":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"WebhookAddress","type":"String","value":"Enter the URL of the webhook Microsoft Flow"}]}}},"outputs":{},"description":"MS Flow to email Message Center messages."},"connectionReferences":{},"flowFailureAlertSubscribed":false}}